<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>pager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SublistServlet</servlet-name>
    <servlet-class>com.imooc.page.servlet.SublistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SublistServlet</servlet-name>
    <url-pattern>/sublist/SublistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JdbcSqlServlet</servlet-name>
    <servlet-class>com.imooc.page.servlet.JdbcSqlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JdbcSqlServlet</servlet-name>
    <url-pattern>/jdbcSql/JdbcSqlServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HibernateServlet</servlet-name>
    <servlet-class>com.imooc.page.servlet.HibernateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HibernateServlet</servlet-name>
    <url-pattern>/hibernate/HibernateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HibernateDataServlet</servlet-name>
    <servlet-class>com.imooc.page.servlet.HibernateDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HibernateDataServlet</servlet-name>
    <url-pattern>/hibernate/HibernateDataServlet</url-pattern>
  </servlet-mapping>
</web-app>